/*  your css code here. If applicable */
#nav{
	background-color:white;
	width:400px;
	height:600px;
}
.nav-1{
	 background-image:url("https://storage.googleapis.com/acciojob-open-file-collections/pricing-card.png");
	width:700px;
	height:800px;
}
